html,
body {
  min-height: 100vh;
}
body {
  display: flex;
  flex-direction: column;
}
footer {
  bottom: 0;
}

/* nav {
  background-color: #ffffff;
  color: #bbbbbb;
}
.navbar {
  color: #bbbbbb;
}
.navbar-text {
  background-color: #4aaaa5;
  line-height: 93px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Georgia", Times, Times New Roman, serif !important;
}
.navbar-links {
  line-height: 93px;
}

.img-fluid {
  max-width: 202px !important;
}
.main-section {
  background-color: bisque;
} */
